
/* SteinUnlimited CSS Vars */
/*   --font-family-header: "Fira Sans"; */
/*   --font-family: "Tahoma"; */
:root {
  --color-bg: #001215;
  --color-stein-void: #001215;
  --color-wavelength-gray: #e0e0e0;
  --color-stein-green: #4FA;
  --color-stein-lightgreen: #0FA;
  --color-stein-magenta: MediumPurple;
  --color-stein-darkmagenta: darkmagenta;
  --color-stein-lumenwhite: #D0FFF1;
  --color-stein-blue: #2800FF;
  
}


* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}
html {
  background-image: url('https://cdn.glitch.me/2212ab4e-a4a0-4fcf-b85c-dd3d51aaa409/fashion-high-quality-lady-career-suits-women.jpg?v=1640501998996');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200vw 120%;
}
body {
  background-color: var(--color-bg);
/*   font-family: 'Trebuchet MS', sans-serif; */
  color: var(--color-wavelength-gray);
  margin: 0 2vw;
  overflow: auto;
/*   overflow: hidden; */
}
.wrapper {
  display: grid;
  place-items: center;
  margin: 0 1rem;
  min-height: 86vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Page titles */
h1 {
  color: var(--color-stein-lumenwhite);
/*   font-family: 'Open Sans'; */
/*   font-family: 'Liberation Sans'; */
/*   font-family: 'Times'; */
/*   font-family: 'Tahoma'; */
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0.1em 0em;
}
h2 {
  margin: 0em 0em 0.4em 0em;
  color: var(--color-stein-magenta);
  font-size: 2.5em;
}
h3 {
  font-size: 1.31em;
  margin: 0em 0em 0.1em 0em;
  color: var(--color-stein-green);
}
h4 {
  color: var(--color-stein-lumenwhite);
}

.page h1 {
  font-size: 48px;
}
.page div.row {
  display: grid;
  grid: auto / auto auto;
}
.page div.col {
  display: grid;
  grid: auto auto auto / auto;
  justify-content: center;
  align-content: center;

}
.page span {
  font-family: 'Tahoma'; 
  line-height: 1.4;
  font-weight: bold;
  color: mediumOrchid;
  font-size: 1.4em;
  margin: .1rem 2%;
  padding: .3rem;
  
/*   border: 1px solid DarkMagenta; */
/*   border-radius: 10px; */
  width: 45vw;
}
.page ul {
  font-weight: medium;
  font-family: 'Tahoma'; 
  line-height: 1.4;
  color: mediumOrchid;
  font-size: 1.4em;
  list-style-type: none;
}
.page a {
  color: var(--color-stein-magenta);
}
.page a:hover {
  text-decoration: none;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: .1rem solid var(--color-stein-green);
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  padding: 0.2rem;
  color: var(--color-stein-lumenwhite);
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  color: var(--color-stein-green);
}

.footer .links {
  color: var(--color-stein-lightgreen);
  padding: 0.3rem 25rem;
  white-space: nowrap;
}
/* .conversionTable {
  display: grid;
  grid: auto / auto;
} */
